.contact-container {
    max-width: 500px;
    margin: 40px auto;
    text-align: left;
}

.contact-container form {
    font-size: 20px;
    padding: 40px 50px;
    border: 1px solid #575757;
    background: #6f6f6f;
}

.contact-container form input[type=text],
.contact-container form input[type=email] {
    font-size: 20px;
}

.contact-container .form-control:focus {
    border-color: #000;
    box-shadow: none;
}

label {
    font-weight: 600;
}

.contact-container .error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 20px;
}

.contact-container .form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

.divider {
    display: table;
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.divider span:first-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#fff));
    background-image: -webkit-linear-gradient(180deg, transparent, #fff);
    background-image: -moz-linear-gradient(180deg, transparent, #fff);
    background-image: -o-linear-gradient(180deg, transparent, #fff);
    background-image: linear-gradient(90deg, transparent, #fff);
}

.divider span:nth-child(2) {
    color: #fff; padding: 0px 20px; width: auto; white-space: nowrap;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.divider span:last-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #fff, transparent);
    background-image: -moz-linear-gradient(180deg, #fff, transparent);
    background-image: -o-linear-gradient(180deg, #fff, transparent);
    background-image: linear-gradient(90deg, #fff, transparent);
}
